* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    overflow: auto; /* Enable scrolling */
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.photo {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.photo img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    transition: transform 0.2s;
}
.photo:hover img {
    transform: scale(1.05);
}
.download-button {
    position: absolute;
    bottom: 5px; /* Adjust to position the button as needed */
    right: 5px; /* Adjust to position the button as needed */
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    text-decoration: none;
    border-radius: 5px;
}

.download-button:hover {
    background-color: #0056b3;}

#lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    text-align: center;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#lightbox img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    display: block;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.hidden {
    display: none;
}